<!--
  Generated template for the GetPnrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Display cab options</ion-title>
  </ion-navbar>

</ion-header>

  <ion-content padding>

  <ion-card>
    <ion-card-header>
    Retrieve booking
    </ion-card-header>
  
     <ion-card-header class='warning-message' [hidden]="!displayWarning">
        Sorry, the booking reference you`ve entered is incorrect. 
    </ion-card-header>
<form  #getbookingForm="ngForm">
    <ion-card-content class="form-group" >
    <ion-grid >    
      <ion-row>
      <ion-col width-35 >
      <ion-input type="text" name="lastName"   required placeholder="Last Name"  [(ngModel)]="LName" #lastName="ngModel" ></ion-input>
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
          <div *ngIf="lastName.errors.required">
            LastName is required.
          </div>
        </div>
      </ion-col>
    <ion-col width-35>
      <ion-input typ=text name="pnrNum"  required  [(ngModel)]="PNR"  placeholder="Booking Reference" #pnrNum="ngModel" ></ion-input>
          <div *ngIf="pnrNum.invalid && (pnrNum.dirty || pnrNum.touched)" class="alert alert-danger">
          <div *ngIf="pnrNum.errors.required">
            Booking Reference is required.
          </div>
        </div>
      </ion-col>
      <ion-col width-30>
              <button ion-button full (click)="getPNRDetails()" class="btn btn-default"
              [disabled]="getbookingForm.invalid"> Go</button>
      </ion-col>
    </ion-row>
    </ion-grid>
    </ion-card-content>
  </form>
</ion-card>
<div [hidden]="pnrNotFound">
<ion-card>
  <ion-card-header>
    Passenger list
  </ion-card-header>
  <ion-card-content>
   <ion-list *ngFor="let pax of booking.paxes">
    <ion-item>
      <ion-icon name="heart"></ion-icon>
      <ion-label>{{pax.firstname}}/{{pax.lastname}}</ion-label>
    </ion-item>
  </ion-list>
 </ion-card-content>
</ion-card>
<ion-card>

  <ion-card-header>
    Available Cab  options
  </ion-card-header>

  <ion-card-content>
   <ion-list *ngFor="let travelplan of booking.travelplans">
    <ion-item>
      <ion-label>To {{travelplan.origin_airport}}</ion-label>
      <ion-checkbox  checked="false" [(ngModel)]="travelplan.tocab_selected" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>From {{travelplan.destination_airport}}</ion-label>
      <ion-checkbox checked="false"  [(ngModel)]="travelplan.fromcab_selected" ></ion-checkbox>
    </ion-item>
  </ion-list>
 </ion-card-content>
</ion-card>

<button ion-button full (click)="launchSelectCabPage()">Continue</button>
  </div>
</ion-content>